<h1>Candle Component</h1>
<div class="horizon">
  <div class="vert">
    <h3>Streamed</h3>
    <div class="candles">
      <h4>candle$</h4>
      <pre>{{ currentCandle$ | async | json }}</pre>
      <h4>sma$</h4>
      <pre>{{ currentSma.sma$ | async | json }}</pre>
      <h4>bb$</h4>
      <pre>{{ currentBb.bb$ | async | json }}</pre>
    </div>
  </div>
  <div class="vert">
    <h3>Historical Candles</h3>
    <div class="candles">
      <pre *ngFor="let candle of candleHistory?.reversedCandles()">
                {{ candle | json }}
            </pre
      >
    </div>
  </div>
</div>
