<h1>Feed Component</h1>
<h3>Current Candle</h3>
<pre>
    {{ currentCandle() | json }}
</pre>

<h3>Past Candles</h3>

<pre *ngIf="pastCandles().length > 0">
    {{ pastCandles() | json }}
</pre>

<pre *ngIf="pastCandles().length > 0">{{ timeBetween() | json }}</pre>
<!-- <h3>SMA</h3>
<pre>
    {{ sma()  | json }}
</pre>
<h3>All Types</h3>
<pre>{{ types() | json }}</pre>
<h3>subscriptions</h3>
<pre>{{ subscriptions$ | async | json }}</pre>

<h3>received</h3>
<pre>{{ received$ | async | json }}</pre>

<h3>open</h3>
<pre>{{ open$ | async | json }}<pre>

<h3>done</h3>
<pre>{{ done$ | async | json }}</pre>

<h3>filled</h3>
<pre>{{ filled$ | async | json}}</pre>

<h3>match</h3>
<pre>{{ match$ | async | json }}</pre>

<h1>Last Message</h1>
<pre>{{ lastMessage$ | async | json }}</pre> -->
